<div class="row">
  <div class="col-xs-12 col-md-9">
    <h2>Add New Customer</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <form [formGroup]="customerForm" (ngSubmit)="Save()">
      <div class="row mb-3">
        <label for="fname" class="col-xs-12 col-md-2">First Name</label>
        <div class="col-xs-12 col-md-6">
          <input id="fname" class="form-control" formControlName="firstName">
        </div>
      </div>
      <div class="row mb-3">
        <label for="lname" class="col-xs-12 col-md-2">Last Name</label>
        <div class="col-xs-12 col-md-6">
          <input id="lname" class="form-control" formControlName="lastName">
        </div>
      </div>
      <div class="flex-row d-inline-flex">
          <button class="btn btn-primary mx-1"
                  type="submit"
                  [disabled]="customerForm.invalid"
          >
            Save
          </button>
          <button class="btn btn-outline-secondary mx-1"
                  type="button"
                  (click)="onCancel()"
          >
            Cancel
          </button>
      </div>
    </form>
  </div>
</div>
